.card-field {
    width: 94%;
    height: 275px;
    margin: 45px 3%;
    background-color: #242424;
    border-radius: 10px;
}

.card-field-title {
    height: 35px;
    color: #E7EAED;
    font-size: 20px;
    margin-left: 15px;
    line-height: 35px;
}

.ant-btn-primary {
    color: #E7EAED;
    background-color: #242424;
    border: 1px solid #E7EAED;
    border-radius: 0;
    float: right;
    height: 28px;
    margin-right: 15px;
    margin-top: 6px;
}

.ant-btn-primary:active, .ant-btn-primary.active {
    color: #E7EAED;
    background-color: #3F3F3F;
    border-width: 1.5px;
    border-color: #E7EAED;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #E7EAED;
    background-color: #3F3F3F;
    border-width: 1.5px;
    border-color: #E7EAED;
}

