#login{
    width: 100%;
    height: 100%;
    background-color: #242424;
    align-items: center;
}

#login_card{
    width: 375px;
    height: 250px;
    border: black solid 1px;
    background-color: #E7EAED;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.ant-btn-primary {
    background-color: #3F3F3F !important;
    color: #E7EAED !important;
    border-color: #3F3F3F !important;
}