.action_item {
    width: 100%;
    height: 12.8%;
    margin-left: 5%;
    margin-top: 5%;
}

.action_item>svg {
    width: 80%;
    height: 100%;
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
 }

.action_item>svg:hover {
    border-color: #FCB401;
    border-width: 2px;
}

#new_plus {
    width: 80%;
    height: 12.8%;
    background: white;
    margin-left: 10%;
    margin-top: 5%;
    border: 1px dashed black;
    box-sizing: border-box;
}

#new_plus:hover {
    border-width: 2px;
    border-color: #FCB401;
}